@import "../variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.container {
  font-family: $font-family;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

span {
  font-weight: 600;
}

img {
  border-radius: 20%;
}

.avatar {
  border-radius: 50%;
  height: 250px;
  width: auto;
}

header {
  background-color: #91dcfa;
  opacity: 0.8;
  background: linear-gradient(135deg, #ffe18955 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #ffe189 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #ffe18955 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #ffe189 25%, #91dcfa 25%) 0px 0/ 20px 20px;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    font-size: 20px;
    font-weight: 600;
  }
}

.redes {
  margin-top: 20px;
  align-self: center;

  a {
    color: black;
    min-height: 50px;
  }
}


.info {
  border-radius: 25px;
  padding: 15px;
  box-shadow: $shadow;
  max-width: 600px;
  align-self: center;
  display: flex;
  margin: 30px 0px;

  div {
    flex: 1;
  }
}

.squares-grid {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  column-gap: 20px;
  row-gap: 20px;

  .square {
    border-radius: 25px;
    padding: 20px;
    min-width: 500px;
    min-height: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: flex;
    flex-direction: column;

    .square-title {
      flex: 0.5 1 8px;
      font-size: 25px;
    }

    ul {
      flex: 5;
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        height: auto;
        width: 75px;
      }

      li {
        flex: 1;
        display: flex;
        align-items: center;

        .info-square {
          margin-left: 25px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .title {
            font-size: 15px;
          }

          .subtitle,
          .dates {
            font-weight: 200;
          }
        }
      }

      .resumen {
        display: flex;
        flex-wrap: wrap;

        .min-li {
          flex: 1;
          text-align: center;
        }
      }
    }
  }
}

footer {
  margin-top: 10px;
}

@media only screen and (max-width: 1050px) {
  .squares-grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(1, 1fr);

    .square {
      border-radius: 25px;
      padding: 20px;
      min-width: 200px;
      min-height: 400px;
    }
  }
}